[submodule "vendor/virtualenv"]
	path = vendor/virtualenv
	url = https://github.com/pypa/virtualenv.git

[submodule "roles/dotfiles/files/.config/base16-shell"]
	path = roles/dotfiles/files/.config/base16-shell
	url = https://github.com/chriskempson/base16-shell
[submodule "roles/dotfiles/files/.tmux/tmux-urlview"]
	path = roles/dotfiles/files/.tmux/tmux-urlview
	url = https://github.com/tmux-plugins/tmux-urlview.git
[submodule "roles/dotfiles/files/.tmux/tmux-yank"]
	path = roles/dotfiles/files/.tmux/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "roles/dotfiles/files/.tmux/tmux-copycat"]
	path = roles/dotfiles/files/.tmux/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "roles/dotfiles/files/.tmux/tmux-resurrect"]
	path = roles/dotfiles/files/.tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "roles/dotfiles/files/.tmux/tmux-continuum"]
	path = roles/dotfiles/files/.tmux/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
