alias -s pdf="evince"
export BAT_PAGER="less"
alias -s jar="java -jar"
export GREP_COLOR=31
alias grep='grep --color=auto'
# Gestion du 'ls' : couleur & ne touche pas aux accents
alias ls='ls --classify --tabsize=0 --literal --color=auto --show-control-chars --human-readable'
alias ctest='ctest --output-on-failure'
alias ncal='ncal -Mb'
alias cal='ncal'
alias rg='rg -S'

# Demande confirmation avant d'écraser un fichier
alias cp='cp --interactive'
alias mv='mv --interactive'
alias rm='rm --interactive'
alias ip='ip --color'
alias ipb='ip --color --brief'

# Raccourcis pour 'ls'
alias l="ls -alh --color=auto"
alias ll='ls -lh'
alias la='ls -ah'
alias lla='ls -la'

# Quelques alias pratiques
alias c='clear'
alias less='less --quiet'
alias df='df --human-readable'
alias du='du --human-readable'
alias man="man"
alias mutt="mutt -y"
if [ -x "$(command -v nvim)" ]; then
    alias vim="nvim"
fi
alias g='git'
if [ -x "$(command -v sshrc)" ]; then
    alias ssh="sshrc"
fi

